<?xml version='1.0' encoding='utf-8'?>
<widget id="com.violetsociety.heyyy" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Heyyy</name>
    <description>
	A mobile and web application that sends heyyy messages.     
</description>
    <author email="violetsociety@gmail.com" href="http://www.violetsociety.com">
        Violet Society
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
